body {
  font-family: Helvetica, sans-serif;
  background-color: gray;
}

h3 {
  color: #64908A;
}

.title {
  color: #351330;
}

.uppercase {
  text-transform: uppercase;
}

#masthead {
  text-align: center;
}

.thumbnail {
  width: 150px;
  height: 100px;
}

h4 {
  color: maroon;
}

#subtitle {
  color: #424254;
}

a {
  text-decoration:none;
  color: gray;
}

p {
  color: #E8CAA4;
}
