body {
  font-family: Helvetica, sans-serif;
  background-color: #EDEBE6;
}

h3 {
  color: #64908A;
}

.title {
  color: #351330;
}

.uppercase {
  text-transform: uppercase;
}

#masthead {
  text-align: center;
}

.thumbnail {
  width: 150px;
  height: 100px;
  align: left;
}


#subtitle {
  color: #424254;
}

a {
  text-decoration:none;
  color: #424254;
}

p {
  color: #424254;
}
