header {
  font-family: Helvetica, sans-serif;
}
.subtitle {
  color:#1183C6
}
#masthead {
   text-align: center;
}

.thumbnail {
  width: 150px;
  height: 100px;
}

.logo {
  width: 300px;
  height: 300px;
}

#postmalonetour { height: 400px }
